<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/stylesheet.css">
    <title>CrajyMinder</title>
</head>
<body>

    <header class="hero is-primary is-small">
        <div class="hero-body columns">
            <div class="column is-8">
                <div class="image is-128x128">
                    <img class="is-rounded" src="../template-resources/images/panda.png">
                </div>
                <h1 class="title is-danger is-1">CrajyMinder</h1>
                <h2 class="subtitle is-danger is-3 is-italic">Interact with your crajy notes and reminders</h2>
            </div>
            <div class="column">
                <a class="button is-info is-large px-6 py-6 is-pulled-right mt-6 mr-6 is-size-3"href="discord"> Sign In</a>
            </div>


        </div>

    </header>

</body>
</html>
