<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/css/stylesheet.css">
    <title>CrajyMinder</title>
</head>
<body>

    <header class="hero is-primary is-small">
        <div class="hero-body columns">
            <div class="column is-9">
                <div class="image is-128x128">
                    <img class="is-rounded" src="./static/template-resources/images/panda.png">
                </div>
                <h1 class="title is-danger is-1">CrajyMinder</h1>
                <h2 class="subtitle is-danger is-3 is-italic">Interact with your crajy notes and reminders</h2>
            </div>
            <div class="column is-3">
                <a class="button is-info is-align-items-center is-flex is-size-4"href="discord"> Sign In</a>
            </div>
        </div>
    </header>

    <div class="content">
        <p class="is-size-6 has-text-link has-text-centered is-italic has-text-weight-light mt-4">
            With Crajyminders you can view and modify your <span class="has-text-info has-text-weight-bold">notes</span> and reminders
        </p>
    </div>

    <main class="columns mx-6">
        <div class="column is-3 is-align-items-center is-justify-content-flex-end is-flex">
            <button class="button has-text-link is-pulled-right is-size-1 is-danger">&lt;</button>
        </div>
        <div class="column is-6">
            <div class="box message is-primary is-small has-background-link">
                <div class="message-header">
                    Note Id: 420
                </div>
                <div class="message-body">
                    <p>
                        Life may be long, and life may be hard. But remember to take some rest and to stay strong. But most of all remember that the world is <span class="is-italic"> never gonna let you down, always gonna build you up. When you're feeling lost it will always find you love. </span>
                    </p>
                </div>
            </div>

            <div class="box message is-primary is-small has-background-link">
                <div class="message-header">
                        Note Id: 421
                </div>
                <div class="message-body">
                    <p>
                        Homeworks: <br>
                        1. Organic chemistry :pensive: <br>
                        2. That's it. One homework is enough for today :pain:
                    </p>
                </div>
            </div>

            <div class="box message is-primary is-small has-background-link">
                <div class="message-header">
                        Note Id: 422
                </div>
                <div class="message-body">
                    <p>
                        <span class="has-text-weight-bold is-italic">Just wanted to hear CrajyBot-Chan's voice one more time :relieved:</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="column is-3 is-align-items-center is-flex">
            <button class="button has-text-link is-danger is-size-1">&gt;</button>
        </div>

    </main>

</body>
</html>
