@charset "utf-8";


//Colors
$darkblue: #0E0E52;
$navy: #1E1E71;
$discord: #7289DA;
$grey: #C2C2C2;

//Bulma global variables
$primary: $darkblue;
$danger: $navy;
$info: $discord;
$link: $grey;

// Update some of Bulma's component variables
$body-background-color: $navy;

@import "../../../node_modules/bulma/bulma.sass";
